h2 スレッド作成
p {{boardId}}

div(ng-controller="CreateThreadFormCtrl")
  form.form-horizontal(role="form", name="form")
    .form-group
      label.col-sm-2.control-label 投稿先
      .col-sm-10
        p.form-control-static {{board.name}}
    .form-group
      label.col-sm-2.control-label
        | タイトル
        span.error(ng-show="form.name.$error.maxlength") 40文字以内
      .col-sm-10
        input.form-control(type="text", name="name", ng-model="thread.name", value="", ng-maxlength="40", placeholder="タイトルを入力", required="true")
    .form-group
      label.col-sm-2.control-label
        | 内容
        span.error(ng-show="form.content.$error.maxlength") 40文字以内
      .col-sm-10
        textarea.form-control(name="content", rows="8" ng-model="thread.content", value="", ng-maxlength="1000", placeholder="内容を入力", required="true")
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type="submit", ng-click="submit(thread)", ng-disabled="form.$invalid") 投稿
