
<div class="row align-center">
  <h2>Board Sample</h2>
  <p>node.js + express + AngularJS を使った簡易掲示板</p>
</div>
<div ng-hide="isLogin" class="row align-center"><a href="/auth/twitter">
    <div class="col-md-3 col-md-offset-3 mouse-hover"><i class="fa fa-twitter-square twitter-color fa-8x"></i>
      <p>twitterでログイン</p>
    </div></a><a href="/auth/facebook">
    <div class="col-md-3 mouse-hover"><i class="fa fa-facebook-square facebook-color fa-8x"></i>
      <p>facebookでログイン</p>
    </div></a></div>